.tab-content-simple .placeholder-card h3 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
    display: flex;
    align-items: center;
    gap: 10px;
}

.tab-content-simple button.save-settings-button {
    background-color: rgb(255 68 68 / 10%);
    border: 1px solid #E08090;
    color: #E08090;
    transition: all 0.3s;
}

.tab-content-simple button.save-settings-button:hover {
    background-color: #E08090;
    color: white;
}