name: "Publish Release"

on:
  push:
    tags:
      - 'v*' # 当你推送到以 v 开头的标签时触发，如 v1.0.0

jobs:
  publish-tauri:
    permissions:
      contents: write
    strategy:
      fail-fast: false
      matrix:
        platform: [windows-latest, macos-latest, ubuntu-24.04] # 后续可以添加 macos-latest, ubuntu-22.04

    runs-on: ${{ matrix.platform }}
    steps:
      - uses: actions/checkout@v4

      - name: setup node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: install Rust stable
        uses: dtolnay/rust-toolchain@stable

      - name: install dependencies (ubuntu only)
        if: matrix.platform == 'ubuntu-22.04'
        run: |
          sudo apt-get update
          sudo apt-get install -y libgtk-3-dev libwebkit2gtk-4.0-dev libayatana-appindicator3-dev librsvg2-dev

      - name: install frontend dependencies
        run: npm install # 或者 yarn install

      - uses: tauri-apps/tauri-action@v0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tagName: v__VERSION__ # 会自动使用当前版本号
          releaseName: "App v__VERSION__"
          releaseBody: "See the assets below to download."
          releaseDraft: true
          prerelease: false